@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.favourite-places-bg-container {
    background-image: url("https://images.unsplash.com/photo-1468581264429-2548ef9eb732?auto=format&fit=crop&w=1050&q=80");
    background-size: cover;
    padding: 24px;
}

.favourite-places-heading {
  color: #0f0e46;
  font-family: "Roboto";
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

.favourite-place-card-container {
  background-color: white;
  border-radius: 20px;
  padding: 24px; 
  margin-bottom: 20px;
  border-width: 2px;
  width: 600px;         
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.favourite-place-card-text {
   margin-right: 15px;

} 

.favourite-place-card-heading {
  color: #0f0e46;
  font-family: "Roboto";
  font-size: 23px;
  font-weight: bold;
}

.favourite-place-card-description {
    font-family: "Roboto";
    font-size: 13px;
    color: #6c6b70;
}

.favourite-place-card-image {
    width: 150px;
    height: 150px;
    border-radius: 20px;
}